@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: linear-gradient(180deg, #210264 0%, #1b0145 48.5%, #17012d 100%);;
    --background-start-rgb: linear-gradient(180deg, #210264 0%, #1b0145 48.5%, #17012d 100%);;
    --background-end-rgb: linear-gradient(180deg, #210264 0%, #1b0145 48.5%, #17012d 100%);;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(167deg, #31287f 0%, #462ab2 100%);
}


